---
title: Контакти
outMod: out--no-hero
activeHeaderLink: 'Контакти'
fixedButton: true
headerClass: header--inner
---
{% extends "layouts/_layout.html" %}

{% block content %}
  <section class="contacts">
    <div class="section-title"><h2 class="title-h2">Контакти</h2></div>
    <div class="contacts__inner">
      <div class="contacts__bl">
        <form class="form">
          <div class="form__title">
            <h5 class="title-h5">Замовити дзвінок</h5>
          </div>
          <div class="form__row">
            <input placeholder="Ваше ім’я" type="text" class="form__input">
          </div>
          <div class="form__row">
            <input placeholder="Номер телефону" type="tel" class="form__input js-tel" required oninvalid="this.setCustomValidity('Введіть ваш номер телефону')" oninput="this.setCustomValidity('')">
            <small class="form__helper">Введіть ваш номер телефону</small>
          </div>
          <div class="form__row">
            <textarea class="form__textarea" placeholder="Що вас цікавить"></textarea>
          </div>
          <button type="submit" class="button">Надіслати</button>
        </form>
      </div>
      <div class="contacts__bl">
        <div class="address">
          <div class="address__bl">
            <b>Наша адреса:</b>
            <address>м. Вінниця, проспект Коцюбинського, 4, офіс 15 (БЦ "Коцюбинський")</address>
          </div>
          <div class="address__bl">
            <b>Ми на зв’язку:</b>
            <div class="phone-number">
              <a href="tel: +380983615756" class="phone-number__link">+38 (098) 361-57-56</a>
            </div>
            <div class="phone-number">
              <a href="tel: +380932557395" class="phone-number__link">+38 (093) 255-73-95</a>
            </div>
          </div>
        </div>
        <div class="map map--sm">
          <div class="map__location">
            <iframe class="map__frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.9415918131044!2d28.505809214908002!3d49.23959658174474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5b3eb67f95cb%3A0x97e01e3398395d94!2z0L_RgNC-0YHQvy4g0JrQvtGG0Y7QsdC40L3RgdC60L7Qs9C-LCA0LCDQktC40L3QvdC40YbQsCwg0JLQuNC90L3QuNGG0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAyMTAwMA!5e0!3m2!1sru!2sua!4v1613160644708!5m2!1sru!2sua" width="1440" height="434" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
        <div class="contacts__video">
          <b>Як до нас дістатись:</b>
          <div class="video">
            <iframe width="560" height="300" src="https://www.youtube.com/embed/sZ--R6IxHQE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
