---
title: Flamingo
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {{ hero.hero({
    path: 'hero-bg',
    title: 'ЯСКРАВИЙ ВІДПОЧИНОК ЗА ДОСТУПНИМИ ЦІНАМИ',
    subtitle: 'Тури Україною та світом'
  }) }}

  <section class="category">
    <div class="category__title">
      <div class="section-title"><h2 class="title-h2">Всі тури</h2></div>
    </div>
    <div class="category__inner">
      <div class="category__block">
        {% set categoryCard = [
          {
            cardTitle: 'Зимові Карпати',
            cardSubtitle: 'Триденний відпочинок в Карпатах',
            cardWaveImg: 'wave-1',
            cardPrice: '2000 грн',
            cardDate: '<span class="calendar__date">19 - 21</span> січня',
            cardDescription: 'Купання в чанах, Буковель, джипінг, дегустація'
          }, {
            cardTitle: 'Термальне Закарпаття',
            wavePosition: 'top: -45px; left: -158px',
            cardWaveImg: 'wave-2',
            cardPrice: '2500 грн',
            cardDate: '<span class="calendar__date">27 - 28</span> січня',
            cardDescription: 'Купання в термальних басейнах, гора Тимоха, водоспад Шипіт'
          },
          {
            cardTitle: 'Романтика Львова',
            cardSubtitle: 'До дня Святого Валентина',
            cardWaveImg: 'wave-3',
            cardPrice: '1500 грн',
            cardDate: '<span class="calendar__date">14 - 15</span> лютого',
            cardDescription: 'Львівська ратуша, екскурсія підземеллями, романтична вечеря'
          }
        ] %}

        {% for item in categoryCard %}
        <div class="category__element">
          <div class="card">
            <div class="card__inner">
              <div class="card__mask">
                <img {% if item.wavePosition %}style="{{ item.wavePosition }}"{% endif %} src="img/waves/{{ item.cardWaveImg }}.svg" alt="" class="card__wave">
                <div class="card__title">
                  <h3 class="title-h3 title-h3--white">{{ item.cardTitle }}</h3>
                  {% if item.cardSubtitle %}
                  <p class="card__subtitle">{{ item.cardSubtitle }}</p>
                  {% endif %}
                </div>
              </div>
              <div class="calendar">
                <span class="calendar__stroke"></span>
                {{ item.cardDate | safe }}
              </div>
              <img class="card__pic" src="img/tour-category/{{ loop.index }}.jpg" alt="tour-category-card-{{ loop.index }}" />
              <div class="card__price">{{ item.cardPrice }}</div>
            </div>
            <div class="card__description"><span>{{ item.cardDescription }}</span></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
