---
title: Сторінка туру
modal: true
activeHeaderLink: 'Карпати'
fixedButton: true
arrowUp: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {{ hero.hero({
    heroClass: 'hero--bg-position-md js-hero',
    path: 'hero-bg2',
    title: 'Зимовий відпочинок в Карпатах',
    subtitle: 'Фантастична мандрівка засніженими горами'
  }) }}


<main class="main">
  <div class="main__title">
    <h2 class="title-h2">Триденний екскурсійний тур “Зимові Карпати</h2>
  </div>
  <div class="sidebar js-sidebar">
    <div class="sidebar__inner js-sidebar-inner">
      <div class="sidebar__group">
        <div class="sidebar__title">
          <h5 class="title-h5 title-h5--uppercase">Дата туру</h5>
        </div>
        <div class="sidebar__date">
          <p>13 січня 23:00 - 21 січня 03:00</p>
          <div class="sidebar__note">
            <span>час виїзду</span>
            <span>час приїзду</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="sidebar__group sidebar__group--more-mb">
        <div class="sidebar__title">
          <h5 class="title-h5 title-h5--uppercase">Тривалість туру</h5>
        </div>
        <p>3 дні / 2 ночі</p>
      </div>
      <div class="sidebar__button">
        <a href="#" class="button button--equal-padding button--full-w">Залишити заявку</a>
      </div>
      <ul class="sidebar__list">
        <li class="sidebar__option"><a href="#visit" class="sidebar__link is-active js-sidebar-link">Що відвідаємо</a></li>
        <li class="sidebar__option"><a href="#price" class="sidebar__link js-sidebar-link">Вартість туру</a></li>
        <li class="sidebar__option"><a href="#program" class="sidebar__link js-sidebar-link">Програма туру</a></li>
      </ul>
    </div>
  </div>
  <section class="content content--subtitle-orange">
    <h2>Триденний екскурсійний тур “Зимові Карпати”</h2>
    <section id="visit">
      <div>
        <h3><span>Що відвідаємо</span></h3>
        <h4>День 1: Стежки Довбуша</h4>
        <hr>
        <div class="time"><b>9:00</b> - прибуття в Яремче, де на нас чекає екскурсія “стежками Довбуша”.</div>
        <p>На нас чекає піша екскурсія стежками «українського Робін Гуда» Олекси Довбуша. Дізнаємося про звитягу карпатських народних месників опришків та про мужність їхнього провідника Олексу Довбуша. </p>
        <p>З гірськими воїнами не могло впоратися навіть багатотисячне польське військо, а за голову ватажка призначали нечувані викупи. Про його мужність складали пісні, а скарб Олекси Довбуша, захований в скелях, шукають досі. Проте згубило його... кохання.</p>
        <figure>
          <div>
            <img src="img/tour/1.jpg" alt="tour 1">
          </div>
          <div>
            <img src="img/tour/2.jpg" alt="tour 2">
          </div>
        </figure>
        <p>Під час прогулянки дізнаємося не лише про життя повстанців, а й познайомимося з природою Карпат, адже знаходяться стежки Довбуша в Національному Природному Парку.</p>
      </div>
      <div>
        <h4>Сувенірний ринок</h4>
        <hr>
        <div class="time"><b>12:00</b> - відвідування сувенірного ринку. Фотографування біля водоспаду Пробій.</div>
        <p>Родзинкою Яремче є його сувенірний ринок, повз котрий неможливо пройти без покупки на згадку. Народні майстри пропонують вовняні ковдри (ліжники) з традиційним геометричним орнаментом, вишиванки та рушники, вироби з овечих шкур та шерсті, гуцульську кераміку, гуцульські килими, дерев’яне начиння, прикраси з бісеру, ляльки-мотанки, вишиванки та одяг.</p>
        <p>Можна придбати домашні ласощі, сири бриндзу, вурду і будз, сушені та мариновані гриби, натуральний мед, в'ялену оленину та м'ясо дикого кабана, лікувальні трави, сушені ягоди та фрукти, настоянки та наливки. Від різноманіття очі розбігаються.</p>
        <figure>
          <div><img src="img/tour/3.jpg" alt="tour 3"></div>
        </figure>
        <figure>
          <div><img src="img/tour/4.jpg" alt="tour 4"></div>
          <div><img src="img/tour/5.jpg" alt="tour 5"></div>
        </figure>
        <p>Ще однією родзинкою ринку є його локація.</p>
        <p>По-перше, крізь нього проходить одна з головних водних артерій Карпат – річка Прут. По-друге, саме в цьому місці на річці розташований каскадний водоспад Пробій. Його висота – 8 метрів і найбільш повноводний красень-водоспад у час весняних паводків і рясних осінніх дощів. Взимку часто замерзає, створюючи глибу льоду, котра міріадами крижинок виблискує на сонці.</p>
        <p>Кажуть, що раніше Пробій був могутнішим, але щоб вільно сплавляти ліс по річці, його підірвали і він став значно нижчим. Зробити селфі на фоні водоспаду можна з містка, або спустившись безпосередньо до самого кам’янистого узбережжя.</p>
      </div>
    </section>
    <section id="price">
      <div>
        <h3><span>Вартість туру</span></h3>
        <p>Вартість туру розрахована на 1 дорослого виїздом з Вінниці.  Вартість туру з інших міст уточняйте, будь ласка, у менеджера за телефоном <a href="tel: +380983615756">+38 (098) 361 57 56</a>.</p>

        {% set table = {
          head: [
            'Тип номеру',
            'Бронювання до 01.01.2021',
            'Бронювання з 02.01.2021'
          ],
          body: [
            ['4 - місний', '1660 грн', '1750 грн'],
            ['3 - місний', '1700 грн', '1800 грн'],
            ['2 - місний', '1750 грн', '1850 грн']
          ]
        } %}
        <table class="table table--layout-fixed">
          <thead>
            {% for header in table.head %}
              <th{% if loop.first %} class="cell cell--text-left cell--set-w-240" {% endif %}>{{ header }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row in table.body %}
              <tr>
                {% for cell in row %}
                  <td {% if loop.first %} class="cell cell--text-left cell--with-icon cell--set-w-240" {% endif %}>
                    {{ cell }}
                    {% if loop.first %}
                      <div>{{ mixins.icon('user') }}<span>x {{ cell | first }}<span></span>
                    {% endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="notes">
          <p>Діти до 12 років – <b>знижка 10%</b>.</p>
          <p>Діти до 3 років (з 2 дорослими, без окремого місця в автобусі та ліжка в номері) – <b>безкоштовно</b>.</p>
        </div>
        <div class="list-group">
          <div>
            <p><b>У вартість входить:</b></p>
            <ul>
              <li>проїзд по всьому маршруту автобусом туристичного класу;</li>
              <li>страхування від нещасних випадків;</li>
              <li>проживання в готелі в номерах зі зручностями 1 ніч;</li>
              <li>організаційно-екскурсійний супровід від туристичної компанії.</li>
            </ul>
          </div>
          <div>
            <p><b>Додаткові витрати:</b></p>
            <ul>
              <li>вхідні квитки на екскурсійні об’єкти;</li>
              <li>харчування;</li>
              <li>особисті витрати;</li>
              <li>додаткові послуги і розваги.</li>
              {# <li>особисті витрати;</li>
              <li>витрати на харчування (в готелі пропонують комплекні сніданки+вечері, вартість 200грн;</li>
              <li>вхідний квиток в Старе село-70 грн;</li>
              <li>театралізоване дійство в Корчмі-80 грн;</li>
              <li>канатно-крісельна дорога на г. Гимба - 150 грн;</li>
              <li>водоспад Шипіт -20грн;</li>
              <li>озеро Синевир -30 грн;</li>
              <li>Купальні “Косино”(3 год) – 450 грн;</li> #}
            </ul>
          </div>
        </div>
      </div>
      <a href="#" class="button button--full-w button--mob">Залишити заявку</a>
    </section>
    <section id="program">
      <h3><span>Програма туру</span></h3>

      {% set collapseItems = [{
        date: '15 січня (п’ятниця)',
        content: '<p>23:00 - виїзд з Віниці</p>',
        open: true
      }, {
        date: '16 січня (субота)',
        content: '<p>19:00 - стежки Довбуша</p> <p>12:00 - сувенірний ринок</p>'
      }, {
        date: '17 січня (неділя)',
        content: '<p>08:00 - сніданок</p>'
      }, {
        date: '18 січня (понеділок)',
        content: '<p>02:00 - прибуття у Вінницю</p>'
      }] %}

      {% for item in collapseItems %}
        <div class="collapse js-collapse{% if item.open %} is-open {% endif %}">
          <div class="collapse__bar js-collapse-bar"><h5>{{ item.date }}</h5></div>
          <div class="collapse__content js-collapse-content"{% if item.open %} style="display: block"{% endif %}>{{ item.content | safe }}</div>
        </div>
      {% endfor %}
      <a href="#" class="button button--uppercase">Схожі тури</a>
    </section>
  </section>
</main>

{% endblock %}
