.contacts
  max-width: 1000px
  margin: 0 auto
  padding: 0 15px
  &__inner
    display: flex
    margin-top: 55px
    +r(767)
      flex-wrap: wrap
  &__bl
    flex-basis: 100%
    &:first-child
      margin-right: 55px
      max-width: 350px
      +r(1024)
        margin-right: 30px
      +r(767)
        max-width: 400px
        margin: 0 auto 40px
  &__video
    margin-top: 40px
    b
      display: block
      margin-bottom: 15px
      +proxima-sb


.form
  &--modal
    .form__row
      margin-bottom: 5px
    .form__button
      margin-top: 15px
  &__title
    margin-bottom: 25px
  &__row
    margin-bottom: 20px
  &__input,
  &__textarea
    width: 100%
    padding: 12px 12px 11px
    +proxima
    font-size: rem(17)
    border: 1px solid #bdbdbb
    &.is-error
      border-color: $red
      margin-bottom: 5px
      + .form__helper
        display: block
  &__textarea
    height: 120px
    resize: none
  &__helper
    display: none
    +proxima-b
    font-size: rem(13)
    color: $red


.address
  display: flex
  margin-bottom: 30px
  +r(767)
    max-width: 400px
    margin: 0 auto
    justify-content: space-between
    flex-wrap: wrap
  &__bl
    flex-basis: 100%
    padding-left: 15px
    +r(767)
      max-width: 170px
      padding: 0
      margin-bottom: 20px
      flex-basis: auto
    &:first-child
      max-width: 230px
      padding-right: 15px
      padding-left: 0
    address
      font-style: normal
    b
      display: block
      margin-bottom: 5px
      +proxima-sb
      color: $black

.phone-number
  &__link
    text-decoration: none
    color: inherit

.video
  iframe
    width: 100%