<div class="fixed-button js-fixed-button">
  <div class="fixed-button__circle">
    <a href="https://www.facebook.com/More.Vinnytsia/?ref=page_internal" class="fixed-button__social"><i class="fixed-button__icon fixed-button__icon--messenger"></i></a>
    <a href="https://www.instagram.com/flamingovinnitsia/" class="fixed-button__social"><i class="fixed-button__icon fixed-button__icon--instagram"></i></a>
    <a href="tg://resolve?domain=flamingovn" class="fixed-button__social"><i class="fixed-button__icon fixed-button__icon--telegram"></i></a>
    <a href="viber://chat?number=380983615756" class="fixed-button__social"><i class="fixed-button__icon fixed-button__icon--viber"></i></a>
  </div>
  <div class="fixed-button__text js-fixed-button-circle"><span>Написати нам</span></div>
</div>