<footer class="footer">
  <div class="footer__inner">
    <div class="footer__group">
      <a href="#" class="footer__logo"><img src="img/flamingo_logo.svg" alt="logo"></a>
      <p>Туристична компанія у Вінниці. Тури Україною та світом</p>
    </div>
    <div class="footer__group">
      <p class="footer__title">Контакты:</p>
      <div class="footer__tel">
        <a href="tel: +380983615756" class="footer__link">
          {{ mixins.icon('phone') }}
          <span>+38 (098) 361-57-56</span>
        </a>
      </div>
      <div class="footer__tel">
        <a href="tel: +380932557395" class="footer__link">
          {{ mixins.icon('phone') }}
          <span>+38 (093) 255-73-95</span>
        </a>
      </div>
      <div class="footer__mail">
        <a href="mailto: flamingovinnytsia@gmail.com" class="footer__link">
          {{ mixins.icon('mail') }}
          <span>flamingovinnytsia@gmail.com</span>
        </a>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/More.Vinnytsia/?ref=page_internal"><i class="social__icon social__icon--messenger"></i></a>
        <a href="https://www.instagram.com/flamingovinnitsia/"><i class="social__icon social__icon--instagram"></i></a>
        <a href="#"><i class="social__icon social__icon--telegram"></i></a>
        <a href="viber://chat/?number=+380983615756"><i class="social__icon social__icon--viber"></i></a>
      </div>
    </div>
    <div class="footer__group">
      <p class="footer__title">Графік роботи:</p>
      <div class="footer__time">
        {{ mixins.icon('clock')}} <span><b>Пн - Пт </b> 09:00 - 19:00 </span>
      </div>
      <div class="footer__time">
        {{ mixins.icon('clock')}} <span><b>Сб - Нд </b> 10:00 - 17:00 </span>
      </div>
    </div>
  </div>
</footer>