<div class="modal js-modal{% if modalClass %} {{ modalClass }}{% endif %}">
  <div class="modal__overlay"></div>
  <div class="modal__block">
    <div class="modal__inner">
      <button class="modal__close js-close-modal">{{ mixins.icon('close') }}</button>
      <div class="modal__title">
        <h5 class="title-h5">Тур в Залізний Порт <br> 4 вересня на 5 днів</h5>
      </div>
      <p class="modal__subtitle">Вартість на 2-х всього 4100 грн</p>
      <p class="modal__text">У вартість входить: проїзд автобусом туристичного класу, проживання, страхування!</p>
      <a href="#" class="button">Дізнатися більше</a>
    </div>
  </div>
</div>