.icon-bus-back {
  width: 1.39em;
  height: 1em;
  fill: #FE7B4D;
}
.icon-bus {
  width: 1.36em;
  height: 1em;
  fill: #FE7B4D;
}
.icon-caret {
  width: 1.82em;
  height: 1em;
  fill: #FF007C;
}
.icon-checkmark-blue {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-checkmark-pink {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-checkmark {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-chevron {
  width: 0.63em;
  height: 1em;
  fill: #283344;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-direction {
  width: 1.64em;
  height: 1em;
  fill: url(#a);
}
.icon-hamburger {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1.04em;
  height: 1em;
  fill: #3CB3E2;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.4em;
  height: 1em;
  fill: #fff;
}
.icon-messenger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: #40B3E0;
}
.icon-user {
  width: 1.06em;
  height: 1em;
  fill: #03B1FC;
}
.icon-viber {
  width: 1em;
  height: 1em;
  fill: #7B519D;
}
.icon-waves {
  width: 1.65em;
  height: 1em;
  fill: #3CB3E2;
}
