.header
  position: absolute
  z-index: 10
  top: 0
  left: 0
  width: 100%
  min-width: 320px
  transform: translateY(22px)
  padding: 20px 35px 10px
  transition: background 0.2s ease
  +r(1200)
    padding: 20px 15px 10px
  +r(1024)
    background: #fff
    padding: 9px 15px
    transform: translateY(0)
    .logo svg path
      &:first-child
        fill: $dark-brown
    .header__group
      border-top: 1px solid rgba(40, 51, 68, 0.3)
      border-bottom: 1px solid rgba(40,51,68,.3)
      box-shadow: 0 10px 10px 0 rgba(40,51,68, 0.1)
    .menu
      .menu__link
        color: $dark-brown
        &:before
          display: none
        &:hover,
        &:focus,
        &--active
          color: $blue
    .language
      color: $dark-brown
      &:before
        background: $dark-brown
      .language__switch
        &.is-active
          color: $blue
  &--inner
    transform: translate(0)
    .logo svg path
      &:first-child
        fill: $dark-brown
    .header__group
      padding-top: 3px
      +r(1024)
        padding-top: 20px
    &.is-desktop-scroll
      .header__group
        padding-top: 0
  &__inner
    display: flex
    justify-content: space-between
    max-width: 1920px
    margin: 0 auto
    +r(1024)
      align-items: center
  &--white-text
    .menu .menu__link,
    .language
      color: #fff
    .language
      &:before
        background: #fff
  &--accent-yellow
    .menu .menu__link
      &:hover,
      &:focus,
      &--active
        color: $yellow
      &:before
        background: $yellow
    .language .language__switch
      &:hover,
      &.is-active
        color: $yellow
  &.is-desktop-scroll
    position: fixed
    padding-top: 20px
    background: #fff
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
    transform: translateY(0)
    .menu .menu__link
      &:hover,
      &:focus,
      &.menu__link--active
        color: $blue
    .logo svg path
      &:first-child
        fill: $dark-brown
    .header__group
      margin-top: 3px
      +r(1200)
        margin-top: 0
    .menu
      .menu__link
        color: $dark-brown
        &:before
          display: none
        &:hover,
        &:focus,
        &:active
          color: $blue
    .language
      color: $dark-brown
      &:before
        background: $dark-brown
      .language__switch
        &.is-active
          color: $blue
  &__group
    display: flex
    +r(1200)
      font-size: rem(16)
    +r(1024)
      position: absolute
      top: 100%
      background: #fff
      left: 0
      right: 0
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
      padding: 20px 0
      visibility: hidden
      opacity: 0
      transition: visibility 0.1s ease-in, opacity 0.1s ease-in
      &.is-active
        visibility: visible
        opacity: 1
  &__button
    display: none
    margin-right: 15px
    +r(1024)
      display: block


.logo
  display: block
  max-width: 200px
  margin-right: 10px
  line-height: 1
  +r(1200)
    max-width: 150px
  +r(1024)
    margin-top: 5px
  +r(767)
    max-width: 120px
  svg
    max-width: 100%
    path
      &:last-child
        fill: $pink

.menu
  display: flex
  list-style-type: none
  margin-right: 23px
  +r(1200)
    margin-right: 10px
  +r(1024)
    display: block
    flex-basis: 100%
    margin-bottom: 19px
  &__item
    margin: 0 5px
    +r(1024)
      margin: 0 0 11px
      text-align: center
  &__link
    position: relative
    padding: 0 2px
    text-decoration: none
    +ib
    font-weight: normal
    color: $dark-brown
    transition: color 0.2s ease
    &:before
      content: ""
      position: absolute
      bottom: -6px
      left: 2px
      right: 2px
      height: 1px
      background: $blue
      opacity: 0
      transform: translateY(-2px)
      transition: opacity 0.3s ease, transform 0.2s ease-in
    &:hover,
    &:focus,
    &--active
      color: $blue
      &:before
        opacity: 1
        transform: translateY(0)


.language
  position: relative
  +r(1024)
    margin-left: 15px
  &:before
    content: ""
    position: absolute
    top: 0
    left: 50%
    width: 1px
    height: 25px
    margin-left: -0.5px
    background: $dark-brown
    +r(1200)
      top: 1px
      height: 20px
  &__switch
    cursor: pointer
    &:hover,
    &:focus
      color: $blue
    &:first-child
      margin-right: 25px
      +r(1200)
        margin-right: 11px
      +r(1024)
        margin-right: 15px
    &.is-active
      color: $blue

.hamburger
  display: none
  position: relative
  width: 20px
  height: 14px
  background-color: transparent
  .icon
    stroke: $pink
  +r(1024)
    display: block