.hero
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-bottom: 85px
  padding: 30px 15px 15px
  min-height: 685px
  background-color: #ddd
  background-size: cover
  background-position: 50% 35%
  +css-lock(390, 685, 767, 1200, min-height)
  +r(1024)
    padding: 45px 15px 10px
  +r(767)
    margin-bottom: 40px
  &__title
    margin: 0 auto
    text-align: center
    font-weight: normal
    color: #fff
    +r(767)
      max-width: 340px
      br
        display: none
  &__main
    display: block
    max-width: rem(800)
    margin-bottom: 5px
    +r(1024)
      margin-bottom: 15px
  &__highlight
    display: inline-block
    max-width: rem(630)
    text-transform: uppercase
    padding: 8px 21px
    font-weight: normal
    background: $yellow
    color: $black
    line-height: 1.2
    +r(1024)
      font-size: rem(32)
    +r(767)
      padding: 10px 7px
      font-size: rem(23)
