+font(proxima-nova, proxima-nova)
+font(proxima-nova-semibold, proxima-nova-semibold)
+font(proxima-nova-bold, proxima-nova-bold)
+font(proxima-nova-regular-italic, proxima-nova-regular-italic)
+font(intro-bold, intro-bold)

=ib
  font-family: 'intro-bold', sans-serif

=proxima
  font-family: 'proxima-nova', sans-serif

=proxima-sb
  font-family: 'proxima-nova-semibold', sans-serif

=proxima-b
  font-family: 'proxima-nova-bold', sans-serif

=proxima-it
  font-family: 'proxima-nova-regular-italic', sans-serif


body
  +proxima
  color: $dark-brown
  line-height: 1.3


.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5
  +ib
  color: $black
  &--white
    color: #fff


.title-h1
  font-size: rem(40)
  line-height: 1.43
  +r(1024)
    font-size: rem(34)
    line-height: 1.18
  +r(767)
    font-size: remMob(26)

.title-h2
  font-size: rem(35)
  +r(1024)
    font-size: rem(30)
  +r(767)
    font-size: remMob(23)

.title-h3
  font-size: rem(30)
  +css-lock(1.222, 1.66, 42, 66, font-size, rem)

.title-h4
  font-size: rem(25)

.title-h5
  font-size: rem(20)